main.teacher-class {
  padding-block-start: 2rem;
}

ul.teacher-class__students {
  width: max(38vw, 300px + 10vw);
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1rem;
}

li.teacher-class__student {
  padding: .6rem;
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
}

section.teacher-class__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.teacher-class__search {
  width: 50vw;
  padding: 0.5rem;
  background-color: var(--background-cl-1);
  border-radius: 5px;
  margin-block: 2rem;
}