:root {
  --primary-cl: burlywood;
  --background-cl-1: #F9F7F7;
  --background-cl-2: #F9F7CA;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 7rem;
}