section.class-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section.class-search {
  margin-block: 3rem;
}

ul.class-grades__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  grid-auto-rows: 5rem;
}

ul.class-grades__list:not(:has(li:nth-child(2))) {
  width: 30vw;
}